name: Build and Push cloud-cinema Migration Image

on:
  workflow_call:
    inputs:
      gcp-project-id:
        type: string
        required: true
      cloudrun_name:
        description: "Cloud Run service name."
        type: string
        required: true
      cloudrun_location:
        description: "Cloud Run service location."
        type: string
        required: true

permissions:
  contents: 'read'
  id-token: 'write'

env:
  GCP_INFRA_IDP: projects/795562109685/locations/global/workloadIdentityPools/github/providers/dev-github-provider
  GCP_INFRA_GHA_SERVICE_ACCOUNT: dev-github-oauth-sa@rahul-playground-v1.iam.gserviceaccount.com
  APP_ARTIFACT_REGISTRY_URL: asia-south2-docker.pkg.dev/rahul-playground-v1/dev-player-images-gar
  APP_IMAGE_NAME: cloud-cinema

jobs:
  build_and_push_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker login to GAR
        uses: rahulgorai0206/github-actions/.github/actions/setup-docker-login@master
        with:
          registry-type: 'GAR'
          workload-identity-provider: ${{ env.GCP_INFRA_IDP }}
          gcp-service-account: ${{ env.GCP_INFRA_GHA_SERVICE_ACCOUNT }}
          access-token-lifetime: "1800s"

      - name: Generate revision tag
        id: get_tag
        shell: bash
        env:
          BRANCH_NAME: ${{ github.ref_name }}
        run: |
          SLUG=$(sed 's/[^a-zA-Z0-9]/-/g' <<< "$BRANCH_NAME")
          SHORT_SHA=$(git rev-parse --short HEAD)
          TAG="${SLUG}-${SHORT_SHA}"
          echo "Generated tag: $TAG"
          echo "revision_tag=${TAG,,}" >> "$GITHUB_OUTPUT"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Image - Build and push
        id: build_migration_image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: ./Dockerfile
          tags: ${{ env.APP_ARTIFACT_REGISTRY_URL }}/${{ env.APP_IMAGE_NAME }}:${{ steps.get_tag.outputs.revision_tag }}
          platforms: linux/amd64
          provenance: false
          push: true
          cache-to: type=gha,mode=max
          cache-from: type=gha

      - name: Deploy to Cloud Run in GCP project
        uses: rahulgorai0206/github-actions/.github/actions/cloudrun-deploy@master
        with:
          gcp-project-id: ${{ inputs.gcp-project-id }}
          service-name: ${{ inputs.cloudrun_name }}
          service-image: ${{ env.APP_ARTIFACT_REGISTRY_URL }}/${{ env.APP_IMAGE_NAME }}:${{ steps.get_tag.outputs.revision_tag }}
          service-location: ${{ inputs.cloudrun_location }}
          workload-identity-provider: ${{ env.GCP_INFRA_IDP }}
          gcp-service-account: ${{ env.GCP_INFRA_GHA_SERVICE_ACCOUNT }}
