---
name: Deploy Docker image to Cloud Run Job

on:
  workflow_dispatch:
    inputs:
      gcp-project-id:
        type: string
        required: false
        default: "rahul-playground-v1"
      cloudrun_name:
        description: "Cloud Run Service name."
        type: string
        required: false
        default: "cloud-cinema"
      cloudrun_location:
        description: "Cloud Run Service location."
        type: string
        required: false
        default: "asia-south2"

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  build_app:
    uses: ./.github/workflows/build-deploy.yaml
    with:
      gcp-project-id: ${{ inputs.gcp-project-id }}
      cloudrun_name: ${{ inputs.cloudrun_name }}
      cloudrun_location: ${{ inputs.cloudrun_location }}
